--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6
transformers==4.48.1
torch==2.2.2+cpu
sentencepiece==0.2.0
sacremoses==0.1.1
pydantic==2.10.6
python-multipart==0.0.9
